/* ========================= DEFAULT STYLES ======================== */

html, body {
	margin:0;
	padding:0;
	font-family:Tahoma, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	margin: 0.20em 0;
}

a, a:hover, a:visited, a:active {
	text-decoration: none;
}

pre {
	padding:2em;
	display:inline-block;
	white-space: normal;
	font-size:14px;
}

button {
	padding:0.5em;
	cursor: pointer;
	background-color:#fafaf2;
	border:2px solid #d9d9d9;
	font-size:16px;
}

/* ========================= COLOR SKINS ======================== */

.red {
	background-color:#e70000; /* Does not pass normal text for AAA. Change to darker color in accessible.css */
	border: 2px solid #D20000;
	color:#ffffff;
}

.red:hover {
	background-color: #c80000;
	border-color:#aa0000;
}

.label.red {
	border:none;
}

.label.red:hover {
	cursor:default;
	background-color: #e70000;
	border:none;
}

.outlined, .label-outlined {
	background-color:transparent;
	border-width:3px;
}

.red.outlined, .label-outlined.red {
	color: #D20000;
}

.red.outlined:hover {
	background-color:#e70000;
	color:#ffffff;
}

/* ========================= LABELS ======================== */

/* Coloration for labels is under skins */

.label {
	display:inline;
	padding:3px 8px;
}

.label-rounded {
	border-radius:5px;
}

.label-pill {
	border-radius: 15px;
}

.label-outlined {
	background-color: transparent;
	border-size:2px;
	border-style:solid;
}

.label-tag {
	position: relative;
}

.label-tag::after{
	content:"";
	position: absolute;
	margin-left:6px;
	margin-top:-3px;
	background: transparent;
	width:0;
	height:0;
	border-top:12px solid transparent;
	border-left:12px solid #e70000;
	border-bottom: 13px solid transparent;
}

/* ========================= ANIMATIONS ======================== */

.animate-in:hover { /* This class is a partner to the class below; apply both on any item to have a transition in, transition out effect */
	transition:0.2s all; /* Maybe should be ease in and out?? */
}

.animate-out {
	transition: 0.2s all;
}


/* ========================= LAYOUTS ======================== */

/* For the Grid, there should be the option through JS to declare one template only and it will churn out 
	multiple rows without the need to declare each row
 */

 .container {
 	width:80%;
 	margin:0 auto;
 }

 .grid-row {
 	width:100%;
 	margin-bottom:1em;
 	content: "";
 }

 .column-25, .column-33 {
 	float:left;
 	padding:0.5em;
 	margin-right:1em;
 }

 .column-25 {
 	width:25%;
 }

 .column-33 {
 	width:33%;
 }

 .clearfix {
 	clear:both;
 }

 .clear-spacing {
 	padding-bottom:1em;
 }

.gutter-space-0 {
	margin-right:0;
}

 .gutter-space-10 {
 	margin-right:10px;
 }

 .gutter-space-25 {
 	margin-right:25px;
 }

 .gutter-space-50 {
 	margin-right:50px;
 }

 .gutter-space-100 {
 	margin-right: 100px;
 }

 .row-space-0 {
 	margin-bottom:0;
 }

 .row-space-25 {
 	margin-bottom: 25px;
 }

 .row-space-50 {
 	margin-bottom: 50px;
 }

 .row-space-100 {
 	margin-bottom: 100px;
 }